<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>success</title>
</head>
<body>
  <body>
    <div class="card mx-auto col-6 bg-dark text-primary">
    <h1 class="card-title"> Survey Results</h1>
    <p class="card-text">Name: {{session['name']}}</p>
    <p class="card-text">Dojo Location: {{session ['location']}}</p>
    <p class="card-text">Favorite Language: {{session['language']}}</p>
    <p class="card-text">Comments: {{session['comments']}}</p>
    </div>
    </body>
</body>
</html>