<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <h2 style="text-align: center;">Data Table</h2>
  <br>
  <table class="table table-striped">
      <thead>
          <tr>
              <th>Name</th>
              <th>last name</th>
              <th>full name</th>
          </tr>
      </thead>
      <tbody>
          {% for person in students %}
          <tr>
              <td>{{ person.name }}</td>
              <td>{{ person.last_name }}</td>
              <td>{{ person.name + " " +person.last_name }}</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</body>
</html>
