<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burgers and Toppings</title>
</head>
<body>
    <h1>Welcome to the Burgers and Toppings App</h1>
    
    <h2>All Burgers</h2>
    <ul>
        {% for burger in burgers %}
            <li><a href="/burger/{{ burger.id }}">{{ burger.name }}</a></li>
        {% else %}
            <li>No burgers found.</li>
        {% endfor %}
    </ul>
    
    <h2>All Toppings</h2>
    <ul>
        {% for topping in toppings %}
            <li><a href="/topping/{{ topping.id }}">{{ topping.topping_name }}</a></li>
        {% else %}
            <li>No toppings found.</li>
        {% endfor %}
    </ul>
</body>
</html>
